@page "/AdminMessages"
@using BlazorWebApi.Client.Components
@using BlazorWebApi.Domain.Entities.Shared
@layout BlazorWebApi.Client.Shared.Admin.AdminLayout
@inject HttpClient _httpclient


<div class="container">
    <a href="/ADCreateMessage">
        <button type="submit" class="btn btn-outline-secondary">
        </button>
    </a>
    <table class="table table-bordered table-striped" style="font-family:Tahoma ; font-size:14px">
        <thead>
            <tr>
                @foreach (TableHeaderName header in TableHeaderNames)
                {
                    <th colspan="@header.Colspan">
                        @header.Name
                    </th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (MessageReplays item in messageReplays)
            {
                <tr>
                    <td colspan="@TableHeaderNames[0].Colspan">
                        @item.message.ID
                    </td >
                    <td colspan="@TableHeaderNames[1].Colspan">
                        @item.message
                    </td>
                    <td colspan="@TableHeaderNames[2].Colspan">
                       @item.message.SenderName
                    </td>
                    <td colspan="@TableHeaderNames[3].Colspan">
                        @item.message.SabtDate
                    </td>
                    <td colspan="@TableHeaderNames[4].Colspan">
                        @item.message.VillaID
                    </td>
                    <td colspan ="@TableHeaderNames[5].Colspan">
                        <a>
                            <button @onclick="() => ShowReplyForm(item.message.ID)">پاسخ</button>
                        </a>
                    </td>

                </tr>
                foreach (Messages replay in item.replays)
                {
                    <tr>
                        <td colspan="@TableHeaderNames[0].Colspan">
                            @replay.ID
                        </td >
                        <td colspan="@TableHeaderNames[1].Colspan">
                            @replay.Message
                        </td>
                        <td colspan="@TableHeaderNames[2].Colspan">
                            @replay.SenderName
                        </td>

                        <td colspan="@TableHeaderNames[3].Colspan">
                            @replay.SabtDate
                        </td>
                        <td colspan="@TableHeaderNames[4].Colspan">
                            @replay.VillaID
                        </td>
                        <td colspan="@TableHeaderNames[5].Colspan">
                        </td>
                    </tr>
                }
                if (replyVisible)
                {
                    <tr>
                        <BlazorWebApi.Client.Shared.CreateMessage Type="2" IDRecieve="item.message.IDSend"  IDRefMessage="item.message.ID"  IDSend="AdminID"  />
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



@code {
    private bool replyVisible = false; // وضعیت نمایش پارشیال
    private int selectedMessageId; // ID پیام انتخاب شده

    public IEnumerable<MessageReplays> messageReplays { get; set; }

    public int AdminID = 2;

    List<TableHeaderName> TableHeaderNames = new()
    {
        new TableHeaderName("کد",1),
        new TableHeaderName("پیام",2),
        new TableHeaderName("فرستنده",1),
        new TableHeaderName("تاریخ ثبت",1),
        new TableHeaderName("کد ویلا",1),
         new TableHeaderName(" ",1),
    };
}

@functions {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            messageReplays = await _httpclient.GetFromJsonAsync<IEnumerable<MessageReplays>>("/api/Messages");
        }
        catch (Exception ex)
        {
            Console.WriteLine("خطا:" + ex.Message);
        }

        base.OnInitializedAsync();
    }

    private void ShowReplyForm(int messageId)
    {
        selectedMessageId = messageId;
        replyVisible = true; // نمایش پارشیال
    }

    private void HideReplyForm(bool closed)
    {
        replyVisible = false; // مخفی کردن پارشیال
    }
}
